.nav-custom-links a {
  color: white;
  transition: 0.6s;
  text-decoration: none;
}
.nav-custom-links a:hover {
  opacity: 0.5;
  transition: 0.6s;
}
.nav-custom-links .active {
  opacity: 0.9;
  color: #ff0080;
}
.navbar-cust {
  transition: all 0.5s;
  background-color: rgba(91, 137, 212,0.8);
}